<pkg-info format-version="2" identifier="dev.alkhalaf.base.pkg" version="{{.version}}" install-location="/" auth="root">
	<bundle-version>
		<bundle id="dev.alkhalaf" CFBundleIdentifier="dev.alkhalaf" path="./Applications/sharik.app" CFBundleVersion="{{.version}}"/>
    </bundle-version>
</pkg-info>